@page "/ConfigureDevice/{Id:guid}"

<h3>Configure Device</h3>

<button class="btn btn-primary">Scan for IR Codes</button>

<h4>IR Codes</h4>
<ul>
    @foreach (var c in _irCodes)
    {
        <li>@c</li>
    }
</ul>

@code {
    private readonly List<string> _irCodes = new();
    
    [Parameter]
    public Guid Id { get; set; }
}