@page "/ManageDevice/{DeviceId:guid}"
@using Zapper.Core.Devices.Abstract
@using Microsoft.Extensions.Logging
@inject IDeviceManager _deviceManager
@inject ILogger<ManageDevice> _logger
@inject NavigationManager _navigationManager

<h3>Device Name</h3>
<ul>
    <li>
        <strong>IP Address</strong> @_device.IpAddress
    </li>
    <li>
        <strong>Mac Address</strong> @_device.MacAddress
    </li>
    <li>
        <strong>Device Type</strong> @_device.SupportDeviceType
    </li>
    <li>
        <strong>Id</strong> @_device.Id
    </li>
</ul>
<h4>Actions</h4>
<ul>
    <li>
        <button class="btn btn-primary">
            Edit
        </button>
    </li>
    <li>Manually Trigger Device Actions</li>
    <li>Test Device Connection</li>
    <li>
        <button class="btn btn-danger" @onclick="DisplayConfirmationDialog">
            Remove Device
        </button>
    </li>
</ul>
<ConfirmationModal @ref="_confirmationModal" OnConfirmYes="RemoveDevice"/>