@page "/ManageDevice/{DeviceId:guid}"
@using Zapper.Core.Devices
@using Zapper.Core.Devices.Abstract
@inject IDeviceManager _deviceManager

<h3>Device Name</h3>
<ul>
    <li><strong>IP Address</strong> @_device.IpAddress</li>
    <li><strong>Mac Address</strong> @_device.MacAddress</li>
    <li><strong>Device Type</strong> @_device.SupportDeviceType</li>
    <li><strong>Id</strong> @_device.Id</li>
    <li><strong>Currently On?</strong> ???</li>
    <li><strong>Model Number</strong> Yes it has one</li>
    <li><strong>Apps Installed</strong> Yes there are apps installed</li>
    <li><strong>Current Volume</strong> ???</li>
</ul>
<h4>Actions</h4>
<ul>
    <li>Remove Device</li>
    <li>Change Device Name</li>
    <li>Change Device MacAddress</li>
    <li>Manually Trigger Device Actions</li>
    <li>Test Device Connection</li>
</ul>

@code {

    [Parameter]
    public Guid DeviceId { get; set; }
    
    private Device _device;

    protected override void OnInitialized()
    {
        var device = _deviceManager.Get(DeviceId);
        _device = device;
    }

}