<div class="container d-flex h-100 w-100">
    <div class="row align-items-center h-100 w-100">
        <div class="col-8 mx-auto text-center pb-5 mb-5">
            <h3>No Devices Found</h3>
            <div class="col-8 mx-auto">
                <a href="/AddDevice" class="btn btn-primary center">Add a New Device</a>
            </div>
        </div>
    </div>
</div>