<div class="container d-flex h-100 w-100">
    <div class="row align-items-center h-100 w-100">
        <div class="col-8 mx-auto text-center pb-5 mb-5">
            <h3>No Devices Found</h3>
            <div class="row">
                <div class="col-8 mx-auto text-center">
                    <button class="btn btn-primary" onclick="@ScanButtonPressed">Scan Again</button>
                </div>
            </div>
            <div class="py-3">
                <a href="/ManuallyAddWebOsTv">Manually Add Web OS TV</a>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback ScanCallback { get; set; }

    private async Task ScanButtonPressed()
    {
        await ScanCallback.InvokeAsync(null);
    }

}