<div class="container d-flex h-100 w-100">
    <div class="row align-items-center h-100 w-100">
        <div class="col-8 mx-auto text-center pb-5 mb-5">
            <div class="spinner-grow my-5" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <h3>@Text</h3>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Text { get; set; } = string.Empty;

}