@using Zapper.Core.WebOs
@using Zapper.Core.Devices
@using Microsoft.Extensions.Logging
@using Zapper.Core.Devices.Abstract
@inject ILogger<WebOsDevices> Logger;
@inject NavigationManager NavigationManager;
@inject IDeviceManager DeviceManager;

@* <div class="row py-2"> *@
@*     <div class="container"> *@
@*         @if (_tvs.Any()) *@
@*         { *@
@*             @foreach (var tv in _tvs) *@
@*             { *@
@*                 <div class="col-4"> *@
@*                     <div class="card"> *@
@*                         <div class="card-body"> *@
@*                             <ul> *@
@*                                 <li> *@
@*                                     <strong>TV Name</strong> @tv.TvName *@
@*                                 </li> *@
@*                                 <li> *@
@*                                     <strong>UUID</strong> @tv.Uuid *@
@*                                 </li> *@
@*                                 <li> *@
@*                                     <strong>IP Address</strong> @tv.Address *@
@*                                 </li> *@
@*                             </ul> *@
@*                             <button class="btn btn-primary float-right" onclick="@AddDevice"> *@
@*                                 Add Device *@
@*                             </button> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             } *@
@*         } *@
@*         else *@
@*         { *@
@*             <span>No TVs found</span> *@
@*         } *@
@*     </div> *@
@* </div> *@

@code {

    private void AddDevice(LgTvScanner.TvData tvData)
    {
        try
        {
            Logger.LogInformation("Attempting to save changes");
            DeviceManager.CreateWebOsDevice(tvData.TvName, tvData.Address, tvData.Address);
            Logger.LogInformation("Finished saving changes");
            NavigationManager.NavigateTo("/devices");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to save changes");
        }
    }
    
}