@inherits LayoutComponentBase

<MudLayout>
    <MudMainContent Class="pb-16">
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-4">
            @Body
        </MudContainer>
    </MudMainContent>
    <div class="bottom-nav">
        <NavMenu />
    </div>
</MudLayout>