<div class="bottom-nav-content">
    <NavLink href="/remote" class="bottom-nav-item">
        <MudIcon Icon="@Icons.Material.Filled.SettingsRemote" />
        <div class="nav-label">Remote</div>
    </NavLink>
    <MudButton Href="devices" StartIcon="@Icons.Material.Filled.Devices" Variant="Variant.Text" Class="bottom-nav-item">
        <div class="nav-label">Devices</div>
    </MudButton>
    <MudButton Href="activities" StartIcon="@Icons.Material.Filled.PlayArrow" Variant="Variant.Text" Class="bottom-nav-item">
        <div class="nav-label">Activities</div>
    </MudButton>
    <MudButton Href="settings" StartIcon="@Icons.Material.Filled.Settings" Variant="Variant.Text" Class="bottom-nav-item">
        <div class="nav-label">Settings</div>
    </MudButton>
</div>