<div class="bottom-nav-content">
    <MudButton Href="" StartIcon="@Icons.Material.Filled.SettingsRemote" Variant="Variant.Text" Class="bottom-nav-item">
        <div class="nav-label">Remote</div>
    </MudButton>
    <MudButton Href="devices" StartIcon="@Icons.Material.Filled.Devices" Variant="Variant.Text" Class="bottom-nav-item">
        <div class="nav-label">Devices</div>
    </MudButton>
    <MudButton Href="activities" StartIcon="@Icons.Material.Filled.PlayArrow" Variant="Variant.Text" Class="bottom-nav-item">
        <div class="nav-label">Activities</div>
    </MudButton>
</div>