@page "/AddWebOsDevice"
@using Zapper.Core.WebOs
@using Microsoft.Extensions.Logging
@using Zapper.Core.Devices.Abstract
@using Zapper.Web.Shared.Devices
@inject ILogger<AddWebOsDevice> Logger
@inject IDeviceManager DeviceManager;
@inject NavigationManager NavigationManager;
<h3>Add WebOS TV</h3>

@if (_scanning)
{
    <ScanningForWebOsDevice/>
}

@if(!_scanning && _scanned && !_tvs.Any())
{
    <NoWebOsDevicesFound ScanCallback="Scan"/>
}

@if(!_scanning && _scanned && _tvs.Any())
{
    <WebOsDevices @tvs="_tvs" @AddDevice="AddDevice"/>
}

@code {

    private bool _scanning;
    private bool _scanned;
    List<LgTvScanner.TvData> _tvs = new();

    protected override async Task OnInitializedAsync()
    {
        await Scan();
    }

    private async Task Scan()
    {
        await Task.Run(async () =>
        {
            if (_scanning)
                return;

            try
            {
                _scanning = true;
                await InvokeAsync(StateHasChanged);

                var scanner = new LgTvScanner();

                _tvs = scanner.LgTvScan();
            }
            catch
            {
    // ignored
            }
            finally
            {
                _scanning = false;
                _scanned = true;

                await InvokeAsync(StateHasChanged);
            }
        });
    }

    private void AddDevice(LgTvScanner.TvData tvData)
    {
        try
        {
            Logger.LogInformation("Attempting to save changes");
            DeviceManager.CreateWebOsDevice(tvData.TvName, tvData.Address, tvData.Address);
            Logger.LogInformation("Finished saving changes");
            NavigationManager.NavigateTo("/devices");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to save changes");
        }
    }
}