@page "/AddWebOsDevice"
@using Zapper.Core.WebOs
<h3>Add WebOS TV</h3>

@if (_scanning)
{
    <span>Scanning...</span>
}
else
{
    @if (_scanned)
    {
        <button class="btn btn-primary" @onclick="Scan">Scan again</button>
    }
    else
    {
        <button class="btn btn-primary" @onclick="Scan">Scan for TVs</button>
    }
}

@if (_scanned)
{
    <div class="row py-2">
        <div class="container">
            @if (_tvs.Any())
            {
                @foreach (var tv in _tvs)
                {
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <ul>
                                    <li>@tv.TvName</li>
                                    <li>@tv.Uuid</li>
                                    <li>@tv.Address</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <span>No TVs found</span>
            }
        </div>
    </div>
}

@code {

    private bool _scanning;
    private bool _scanned;
    List<LgTvScanner.TvData> _tvs = new();

    private void Scan()
    {
        if (_scanning)
            return;

        Task.Run(() =>
        {
            try
            {
                _scanning = true;

                InvokeAsync(StateHasChanged);

                var scanner = new LgTvScanner();

                _tvs = scanner.LgTvScan();
            }
            catch
            {
    // ignored
            }
            finally
            {
                _scanning = false;
                _scanned = true;

                InvokeAsync(StateHasChanged);
            }
        });
    }

}