@page "/AddWebOsDevice"
@using Zapper.Core.WebOs
<h3>Add WebOS TV</h3>

<button class="btn btn-primary" @onclick="Scan">Scan for TVs</button>

@code {

    private bool _scanning;

    private void Scan()
    {
        try
        {
            _scanning = true;

            var scanner = new LgTvScanner();

            var result = scanner.LgTvScan();

            var x = 0;
    //var ipAddresses = GetLocalNetworkIpAddresses();
        }
        finally
        {
            _scanning = false;
        }
    }

}