@page "/ManuallyAddWebOsTv"
@using Zapper.WebOs
@using Microsoft.Extensions.Logging
@using Zapper.Core.Devices.Abstract
@inject ILogger<ManuallyAddWebOsTv> Logger
@inject NavigationManager NavigationManager;
@inject IDeviceManager DeviceManager;

<h2>Add WebOS TV</h2>
<div class="container d-flex h-100 w-100">
    <div class="row align-items-center h-100 w-100">
        <div class="col-8 mx-auto text-center pb-5 mb-5">
            <h3>Connection Details</h3>
            <div class="form-group row">
                <label for="deviceName" class="col-2 col-form-label">Name</label>
                <div class="col-10">
                    <input type="text" class="form-control" id="deviceName" placeholder="LG WebOS TV" @bind="_name"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="ipAddress" class="col-2 col-form-label">IP Address</label>
                <div class="col-10">
                    <input type="text" class="form-control" id="ipAddress" placeholder="192.168.1.1" @bind="_ipAddress"/>
                    <div class="@(_connectTestSuccess ? "valid-feedback" : "invalid-feedback") d-block">
                        @_connectionTestSummary
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="macAddress" class="col-2 col-form-label">Mac Address</label>
                <div class="col-7">
                    <input type="text" class="form-control" id="macAddress" placeholder="00:11:22:33:44:55" @bind="_macAddress"/>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary w-100" @onclick="TestConnection">Test Connection</button>
                </div>
            </div>
            <button class="btn btn-primary w-100" @onclick="SaveChanges">Save Changes</button>
        </div>
    </div>
</div>

@code {

    private string _name = string.Empty;
    private string _ipAddress = string.Empty;
    private string _macAddress = string.Empty;
    private bool _connectTestSuccess;
    private string _connectionTestSummary = string.Empty;

    private async Task TestConnection()
    {
        try
        {
            Logger.LogInformation("Testing out the WebOS Connection");

            var service = new Service();
            await service.ConnectAsync(_ipAddress);

            _connectionTestSummary = $"Successfully connected to {_ipAddress}";
            _connectTestSuccess = true;

            Logger.LogInformation("Finished testing the WebOS Connection");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "An error occurred while testing the WebOS Connection");
            _connectTestSuccess = false;
            _connectionTestSummary = ex.Message;
        }
    }

    private void SaveChanges()
    {
        try
        {
            Logger.LogInformation("Attempting to save changes");
            
            DeviceManager.CreateWebOsDevice(_name, _ipAddress, _macAddress);
            NavigationManager.NavigateTo("/devices");
            
            Logger.LogInformation("Finished saving changes");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to save changes");
        }
    }

}