@using Microsoft.Extensions.Logging
@using Zapper.Core.Devices

<strong>Actions</strong>
<div class="row">
    <div class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <span class="oi oi-magnifying-glass"></span>
                </span>
            </div>
            <input class="form-control" placeholder="Action" type="text" @bind="SearchText" @bind:event="oninput"/>
        </div>
    </div>
</div>
<br/>
<div class="list-of-buttons btn-group-vertical">
    @foreach (var a in _filteredActions)
    {
        <button class="btn btn-outline-secondary @(a == SelectedAction ? "active" : "")"
                @onclick="() => SelectAction(a)">
            @a.Action
        </button>
    }
</div>