@using WebOsTv.Net
@using Zapper.Web.Pages
@using Microsoft.Extensions.Logging
@inject ILogger<Devices> _logger;

<h3>Configure WebOS</h3>
<div>
    <div class="form-group row">
        <label for="deviceName" class="col-2 col-form-label">Name</label>
        <div class="col-10">
            <input type="text" class="form-control" id="deviceName" placeholder="Device Name" @bind="Name"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="ipAddress" class="col-2 col-form-label">IP Address</label>
        <div class="col-7">
            <input type="text" class="form-control" id="ipAddress" placeholder="IP Address" @bind="IpAddress"/>
            <div class="@(_connectTestSuccess ? "valid-feedback" : "invalid-feedback") d-block">
                @_connectionTestSummary
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-primary w-100" @onclick="TestConnection">Test Connection</button>
        </div>
    </div>
</div>


@code {
    public string Name { get; set; }
    public string IpAddress { get; set; }
    
    private string _connectionTestSummary;
    private bool _connectTestSuccess;

    private async Task TestConnection()
    {
        try
        {
            _logger.LogInformation("Testing out the WebOS Connection");

            var service = new Service();
            await service.ConnectAsync(IpAddress);

            _connectionTestSummary = $"Successfully connected to {IpAddress}";
            _connectTestSuccess = true;

            _logger.LogInformation("Finished testing the WebOS Connection");
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "An error occurred while testing the WebOS Connection");
            _connectTestSuccess = false;
            _connectionTestSummary = ex.Message;
        }
    }
}