<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
    <div class="navbar-nav">
        <NavLink class="nav-link" href="Devices">Devices</NavLink>
        <NavLink class="nav-link" href="Scenes">Scenes</NavLink>
        <NavLink class="nav-link" href="Remotes">Remotes</NavLink>
        <NavLink class="nav-link" href="Settings">Settings</NavLink>
    </div>
</nav>